.sampul {
    width: 100px;
}

.table > tbody > tr > * {
    vertical-align: middle;
}

table.table-bordered th,
table.table-bordered td {
    border: 2px solid #000; 
}

.btn-primary {
    background-color: #E6EEF9 !important;
    border-color: #E6EEF9 !important;
}

.btn-primary:hover {
    background-color: 	#5F6A7D !important;
    border-color: 	#5F6A7D !important;
}